.green {
    color: white;
    background: green;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .red {
    color: white;
    background: red;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  